html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

form {
    border: 1px solid #ccc;
    padding: 1rem;
}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}


form button {
    display: block;
    padding: 0.5rem 1rem;
    background: hsl(120, 56%, 40%);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 5rem;
    margin-left: auto;
}

header {
    background-color: teal;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}
h1 {
    color: #000;;
    
}

ul {
    text-align: right;
    list-style-type: none;
    line-height: 2;
    a {color: teal;}
}
img {
    width: 180px;
    height: 131px;
    float: left;
    padding-right: 1rem;
}
nav{
    margin-top: -30px;
    padding-right: 1rem;
    margin-bottom: 100%;
    float: left;
}
main {
    display: inline;
}
aside {
    display: inline;
    width: 10%;
    height: 10%;
    margin-right: 30px;
    margin-bottom: 100px;
}
form {
    display: inline;
    float: left;
    width: 500px;
}


footer {
    background-color: teal;
    color: white;
    text-align: center;
    position: fixed;
    height: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
    padding: 1rem;

}
@media screen and (max-width: 600px) {
        aside {
        float: top;
        }
        ul {
        display: flex; 
        }
        footer {
            height: 10px;
        }
        li {
            margin-right: 100%;
            margin-bottom: 0;
            margin-top: 5;
            border-left: 1px solid black;
            height: 40px;
        }
        main {
            position: left; display: flex;
        }
        img {
            position: left;

        }
       div {
        overflow-x: hidden;
       }
        
}
    




 